.contentMenu::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -10%;
  width: 80px;
  height: 10px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
